.hard-work {
  background-image: url("../../power-x-gym/Image & Icon/hipcravo-5UbIqV58CW8-unsplash.jpg");
}
.work-out {
  background-image: url("../../power-x-gym/Image & Icon/daniel-apodaca-WdoQio6HPVA-unsplash.jpg");
}
.nutrition {
  background-image: url("../../power-x-gym/Image & Icon/penguinuhh-8VI6WwEEEHw-unsplash.jpg");
}
.work-card {
  background-repeat: no-repeat;
  background-size: cover;
}
.work-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 10px;
}
.work-card h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.work-card p {
  color: #9b9999;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: justify;
  margin-top: 15px;
}

.about-title {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid yellow;
}
