.header-link {
  text-decoration: none !important;
  color: white;
  padding: 10px;
}
.header-link:hover {
  color: gray;
}
.navBar-bg {
  background-image: url("../../assets/Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
}
