.yoga {
  background-image: url("../../assets/Image & Icon/bruce-mars-gJtDg6WfMlQ-unsplash.png");
}
.cardio {
  background-image: url("../../assets/Image & Icon/arthur-edelman-qfjuh4OLdxw-unsplash.jpg");
}
.programs-img {
  background-repeat: no-repeat;
  background-size: cover;
}
.programs-img h6 {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 25px;
  font-weight: 700;
}
