.details span {
  color: #fcd842;
  margin-left: 20px;
  margin-right: 10px;
}
.details h6 {
  text-transform: capitalize;
  font-weight: 700;
}
.schedule h5 {
  margin-top: 15px;
}
.schedule p {
  color: #fcd842;
}
